In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
movies = pd.read_csv("movies_dataset_cleaned.csv")
credits = pd.read_csv("credits_unnested_cleaned.csv",compression="gzip")
# movies.drop_duplicates(inplace=True)
# credits.drop_duplicates(inplace=True)
# movies.dropna(inplace=True)
# credits.dropna(inplace=True)

In [165]:
names = movies["title"]
encoder =OneHotEncoder()

names_encoded = encoder.fit_transform(names.values.reshape(-1,1))

In [166]:
from sklearn.neighbors import NearestNeighbors

recommender = NearestNeighbors(metric="cosine")
recommender.fit(names_encoded.toarray())

MemoryError: Unable to allocate 14.3 GiB for an array with shape (45446, 42278) and data type float64

In [245]:
movies.iloc[3]

budget                                                              16000000
id                                                                     31357
original_language                                                         en
overview                   Cheated on, mistreated and stepped on, the wom...
popularity                                                          3.859495
release_date                                                      1995-12-22
revenue                                                           81452156.0
runtime                                                                127.0
status                                                              Released
tagline                    Friends are the people who let you be yourself...
title                                                      Waiting to Exhale
vote_average                                                             6.1
vote_count                                                              34.0
id.1                                                                     NaN
name                                                                     NaN
poster_path.1                                                            NaN
backdrop_path                                                            NaN
genre_id                                                     [35, 18, 10749]
genre_name                                    ['Comedy', 'Drama', 'Romance']
production_company_name           ['Twentieth Century Fox Film Corporation']
production_company_id                                                  [306]
production_iso_3166_1                                                     US
production_country                                  United States of America
language_iso_639_1                                                        en
language                                                             English
release_year                                                            1995
return                                                               5.09076
Name: 3, dtype: object

In [ ]:
# movie_index = np.random.randint(0,len(movies["name"]))
# num_recommendations = 5
# _, recommendations = recommender.kneighbors(names_encoded[movie_index].toarray(), n_neighbors=num_recommendations)
# recommended_movie_titles = movies.iloc[recommendations[0]]['title']

In [ ]:
#movies.iloc[movie_index]["title"]

In [ ]:
#recommended_movie_titles

In [ ]:
#movies["title"]

the model seems to be working, now I will use it to determine which movies would it choose based on the actors and crew members

In [ ]:
# movie_id = credits["id"]
# encoder2 = OneHotEncoder()
# id_encoded = encoder2.fit_transform(movie_id.values.reshape(-1,1))
# recommender2 = NearestNeighbors(metric="cosine")
# recommender2.fit(id_encoded)

# id_index = np.random.randint(0,len(credits["id"]))
# num_recommendations = 5

# _, recommendations2 = recommender2.kneighbors(id_encoded[id_index].toarray(), n_neighbors=num_recommendations)
# recommended_movie_ids = credits.iloc[recommendations2[0]]['id']

In [ ]:
#credits.iloc[id_index]["id"]

In [ ]:
#recommended_movie_ids

In [ ]:
# for idx, val in enumerate(recommended_movie_ids):
#   print(idx)

In [ ]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42675 entries, 0 to 45437
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 42675 non-null  int64
 1   cast_id            42675 non-null  object
 2   character          42675 non-null  object
 3   credit_id          42675 non-null  object
 4   actor_gender       42675 non-null  object
 5   actor_id           42675 non-null  object
 6   actor_name         42675 non-null  object
 7   order              42675 non-null  object
 8   profile_path       42675 non-null  object
 9   crew_credit_id     42675 non-null  object
 10  crew_department    42675 non-null  object
 11  crew_gender        42675 non-null  object
 12  crew_id            42675 non-null  object
 13  crew_job           42675 non-null  object
 14  crew_name          42675 non-null  object
 15  crew_profile_path  42675 non-null  object
dtypes: int64(1), object(15)
memory usage: 5.5+ MB

Se crea un dataframe que junte casting y datos de las peliculas por igual

In [3]:
full_data = movies.join(credits, on="id", lsuffix='_movies', rsuffix='_credits',how="left")
full_data.head()

,budget,id_movies,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,actor_name,order,profile_path,crew_credit_id,crew_department,crew_gender,crew_id,crew_job,crew_name,crew_profile_path
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,"['Ad van Kempen', 'Ariane Schluter']","[1, 2]","[None, '/hRoNRFW1fTKLatWr507tR5peWZD.jpg']",['52fe49eac3a36847f81ad513'],['Directing'],[0],[28889],['Director'],['Theo van Gogh'],[None]
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,"['Bill Paterson', 'Eleanor David', 'Clare Grog...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","['/lLIPguoZJZeZ04niI4PaG1cv3Xf.jpg', '/dKteIvo...","['52fe44099251416c91002c73', '52fe44099251416c...","['Sound', 'Production', 'Directing', 'Producti...","[2, 2, 2, 1, 0]","[8271, 63960, 68687, 96588, 105965]","['Music', 'Producer', 'Director', 'Producer', ...","['Mark Knopfler', 'Clive Parsons', 'Bill Forsy...","['/vH7xSbq53I8cPlRmi4aeSZwg7qg.jpg', None, '/1..."
2,0,15602,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,...,"['Sylvester Stallone', 'Jason Statham', 'Dolph...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14,...","['/gnmwOa46C2TP35N7ARSzboTdx2u.jpg', '/PhWiWga...","['52fe4555c3a368484e05423f', '54fdc60992514123...","['Camera', 'Crew', 'Production', 'Camera', 'So...","[0, 2, 1, 0, 2, 2, 0, 2, 2, 0, 0, 2, 2, 0, 2, ...","[904, 2507, 3965, 13670, 6041, 6880, 9441, 510...","['Director of Photography', 'Second Unit Cinem...","['Jeffrey L. Kimball', 'Matthew F. Leonetti', ...","[None, None, '/7OBiqW30sXcW4f2xMds53L4JBN5.jpg..."
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,...,"['Harvey Keitel', 'John Lydon', 'Nicole Garcia...","[0, 1, 2, 3]","['/4IcHhp1SCKijRxb7kqnxZNJuKdn.jpg', '/g5szwmt...","['52fe4782c3a368484e0caf2f', '52fe4782c3a36848...","['Directing', 'Writing', 'Writing', 'Writing',...","[2, 0, 2, 0, 0, 2, 0, 2, 1, 0, 0, 0]","[80586, 25316, 80586, 939228, 9233, 1259, 9333...","['Director', 'Screenplay', 'Screenplay', 'Scre...","['Roberto Faenza', 'Ennio De Concini', 'Robert...","['/rG53ltb0dtN3nFoxpmyxXrR3chw.jpg', None, '/r..."
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,...,"['Emma Roberts', 'Josh Flitter', 'Max Thieriot...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","['/5sFDfAJVxRLlsxT9fA16iWAiwpU.jpg', '/6RCA8tD...","['5648c1799251413e7f007984', '5648c26fc3a36826...","['Production', 'Costume & Make-Up', 'Productio...","[2, 2, 0, 2, 0, 0, 2, 0, 1, 0, 2, 1, 2, 2, 1, ...","[1888, 6348, 6874, 8794, 10955, 10955, 11876, ...","['Producer', 'Costume Design', 'Executive Prod...","['Jerry Weintraub', 'Jeffrey Kurland', 'Ben Wa...","['/wqmJO4ChjNmmlz3wZ8qoCIC1VG9.jpg', None, Non..."

In [4]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45359 entries, 0 to 45358
Data columns (total 43 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   budget                   45359 non-null  int64
 1   id_movies                45359 non-null  int64
 2   original_language        45348 non-null  object
 3   overview                 44418 non-null  object
 4   popularity               45359 non-null  float64
 5   release_date             45359 non-null  object
 6   revenue                  45359 non-null  float64
 7   runtime                  45113 non-null  float64
 8   status                   45279 non-null  object
 9   tagline                  20393 non-null  object
 10  title                    45359 non-null  object
 11  vote_average             45359 non-null  float64
 12  vote_count               45359 non-null  float64
 13  id.1                     4487 non-null   float64
 14  name                     4487 non-null   object
 15  poster_path.1            3944 non-null   object
 16  backdrop_path            3260 non-null   object
 17  genre_id                 45359 non-null  object
 18  genre_name               45359 non-null  object
 19  production_company_name  33568 non-null  object
 20  production_company_id    33568 non-null  object
 21  production_iso_3166_1    39150 non-null  object
 22  production_country       39151 non-null  object
 23  language_iso_639_1       41593 non-null  object
 24  language                 41372 non-null  object
 25  release_year             45359 non-null  int64
 26  return                   45359 non-null  float64
 27  id_credits               18784 non-null  float64
 28  cast_id                  17811 non-null  object
 29  character                17811 non-null  object
 30  credit_id                17811 non-null  object
 31  actor_gender             17811 non-null  object
 32  actor_id                 17811 non-null  object
 33  actor_name               17811 non-null  object
 34  order                    17811 non-null  object
 35  profile_path             17811 non-null  object
 36  crew_credit_id           18503 non-null  object
 37  crew_department          18503 non-null  object
 38  crew_gender              18503 non-null  object
 39  crew_id                  18503 non-null  object
 40  crew_job                 18503 non-null  object
 41  crew_name                18503 non-null  object
 42  crew_profile_path        18503 non-null  object
dtypes: float64(8), int64(3), object(32)
memory usage: 14.9+ MB

In [5]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45359 entries, 0 to 45358
Data columns (total 43 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   budget                   45359 non-null  int64
 1   id_movies                45359 non-null  int64
 2   original_language        45348 non-null  object
 3   overview                 44418 non-null  object
 4   popularity               45359 non-null  float64
 5   release_date             45359 non-null  object
 6   revenue                  45359 non-null  float64
 7   runtime                  45113 non-null  float64
 8   status                   45279 non-null  object
 9   tagline                  20393 non-null  object
 10  title                    45359 non-null  object
 11  vote_average             45359 non-null  float64
 12  vote_count               45359 non-null  float64
 13  id.1                     4487 non-null   float64
 14  name                     4487 non-null   object
 15  poster_path.1            3944 non-null   object
 16  backdrop_path            3260 non-null   object
 17  genre_id                 45359 non-null  object
 18  genre_name               45359 non-null  object
 19  production_company_name  33568 non-null  object
 20  production_company_id    33568 non-null  object
 21  production_iso_3166_1    39150 non-null  object
 22  production_country       39151 non-null  object
 23  language_iso_639_1       41593 non-null  object
 24  language                 41372 non-null  object
 25  release_year             45359 non-null  int64
 26  return                   45359 non-null  float64
 27  id_credits               18784 non-null  float64
 28  cast_id                  17811 non-null  object
 29  character                17811 non-null  object
 30  credit_id                17811 non-null  object
 31  actor_gender             17811 non-null  object
 32  actor_id                 17811 non-null  object
 33  actor_name               17811 non-null  object
 34  order                    17811 non-null  object
 35  profile_path             17811 non-null  object
 36  crew_credit_id           18503 non-null  object
 37  crew_department          18503 non-null  object
 38  crew_gender              18503 non-null  object
 39  crew_id                  18503 non-null  object
 40  crew_job                 18503 non-null  object
 41  crew_name                18503 non-null  object
 42  crew_profile_path        18503 non-null  object
dtypes: float64(8), int64(3), object(32)
memory usage: 14.9+ MB

In [ ]:
full_data.iloc[0]

budget                                                              30000000
id_movies                                                                862
original_language                                                         en
overview                   Led by Woody, Andy's toys live happily in his ...
popularity                                                         21.946943
release_date                                                      1995-10-30
revenue                                                          373554033.0
runtime                                                                 81.0
status                                                              Released
tagline                                                                  NaN
title                                                              Toy Story
vote_average                                                             7.7
vote_count                                                            5415.0
id.1                                                                 10194.0
name                                                    Toy Story Collection
poster_path.1                               /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
backdrop_path                               /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
genre_id                                                     [16, 35, 10751]
genre_name                                 ['Animation', 'Comedy', 'Family']
production_company_name                          ['Pixar Animation Studios']
production_company_id                                                    [3]
production_iso_3166_1                                                     US
production_country                                  United States of America
language_iso_639_1                                                        en
language                                                             English
return                                                             12.451801
id_credits                                                          101230.0
cast_id                                                               [3, 4]
character                                                ['Thomas', 'Sarah']
credit_id                  ['52fe49eac3a36847f81ad51b', '54736b009251415c...
actor_gender                                                          [2, 1]
actor_id                                                     [211203, 45746]
actor_name                              ['Ad van Kempen', 'Ariane Schluter']
order                                                                 [1, 2]
profile_path                      [None, '/hRoNRFW1fTKLatWr507tR5peWZD.jpg']
crew_credit_id                                  ['52fe49eac3a36847f81ad513']
crew_department                                                ['Directing']
crew_gender                                                              [0]
crew_id                                                              [28889]
crew_job                                                        ['Director']
crew_name                                                  ['Theo van Gogh']
crew_profile_path                                                     [None]
Name: 0, dtype: object

In [6]:
final_movie_set = full_data.copy()

Se remueven las columnas que en una opinion personal y luego de revisar como funcionan otros recomendadores famosos como el de netflix o hbo, las dejo de lado. Se parte de la premisa de que una buena pelicula debe recomendarse por los actores, la trama, la empresa que la produce y los miembros del crew que la conforman.

In [7]:
final_movie_set.drop(columns=['budget','revenue','status','id.1','poster_path.1','backdrop_path','production_iso_3166_1','language_iso_639_1','return','id_credits','character','credit_id','profile_path','crew_credit_id','crew_id','crew_profile_path'], inplace=True)
final_movie_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45359 entries, 0 to 45358
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_movies                45359 non-null  int64
 1   original_language        45348 non-null  object
 2   overview                 44418 non-null  object
 3   popularity               45359 non-null  float64
 4   release_date             45359 non-null  object
 5   runtime                  45113 non-null  float64
 6   tagline                  20393 non-null  object
 7   title                    45359 non-null  object
 8   vote_average             45359 non-null  float64
 9   vote_count               45359 non-null  float64
 10  name                     4487 non-null   object
 11  genre_id                 45359 non-null  object
 12  genre_name               45359 non-null  object
 13  production_company_name  33568 non-null  object
 14  production_company_id    33568 non-null  object
 15  production_country       39151 non-null  object
 16  language                 41372 non-null  object
 17  release_year             45359 non-null  int64
 18  cast_id                  17811 non-null  object
 19  actor_gender             17811 non-null  object
 20  actor_id                 17811 non-null  object
 21  actor_name               17811 non-null  object
 22  order                    17811 non-null  object
 23  crew_department          18503 non-null  object
 24  crew_gender              18503 non-null  object
 25  crew_job                 18503 non-null  object
 26  crew_name                18503 non-null  object
dtypes: float64(4), int64(2), object(21)
memory usage: 9.3+ MB

The full_data is used, the ML model is nearest neighbours with OneHotEncoder, the metric is cosine. It is working fine

In [8]:
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import OneHotEncoder

# i want to use only certain row

movie_title = final_movie_set["title"]
encoder = OneHotEncoder()
title_encoded = encoder.fit_transform(movie_title.values.reshape(-1,1))
recommender = NearestNeighbors(metric='euclidean')
recommender.fit(title_encoded)

title_index = np.random.randint(0,len(final_movie_set["title"]))
num_recommendations = 8

_, recommendations2 = recommender.kneighbors(title_encoded[title_index].toarray(), n_neighbors=num_recommendations)
recommended_movie_titles = final_movie_set.iloc[recommendations2[0]]['title']

In [9]:
movie_title.iloc[title_index]

'The Mistletoe Promise'

In [12]:
recommended_movie_titles.values

array(['The Mistletoe Promise', 'London Road', 'Erotikon',
       'If You Were Young: Rage', 'I Hate Luv Storys', 'Entourage',
       'Mere Brother Ki Dulhan', 'Bitter Lake'], dtype=object)

In [14]:
final_movie_set[['original_language','overview','popularity','vote_average','title','vote_count','genre_name','actor_name','crew_name']].to_csv("final_movie_set.csv",compression="gzip")

In [15]:
final_movie_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45359 entries, 0 to 45358
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_movies                45359 non-null  int64
 1   original_language        45348 non-null  object
 2   overview                 44418 non-null  object
 3   popularity               45359 non-null  float64
 4   release_date             45359 non-null  object
 5   runtime                  45113 non-null  float64
 6   tagline                  20393 non-null  object
 7   title                    45359 non-null  object
 8   vote_average             45359 non-null  float64
 9   vote_count               45359 non-null  float64
 10  name                     4487 non-null   object
 11  genre_id                 45359 non-null  object
 12  genre_name               45359 non-null  object
 13  production_company_name  33568 non-null  object
 14  production_company_id    33568 non-null  object
 15  production_country       39151 non-null  object
 16  language                 41372 non-null  object
 17  release_year             45359 non-null  int64
 18  cast_id                  17811 non-null  object
 19  actor_gender             17811 non-null  object
 20  actor_id                 17811 non-null  object
 21  actor_name               17811 non-null  object
 22  order                    17811 non-null  object
 23  crew_department          18503 non-null  object
 24  crew_gender              18503 non-null  object
 25  crew_job                 18503 non-null  object
 26  crew_name                18503 non-null  object
dtypes: float64(4), int64(2), object(21)
memory usage: 9.3+ MB